h1 {
    font-family: 'Arial'
}

#myCanvas {
    border: solid 1px gray;
}

.row {
    margin-bottom: 10px;
}

<<<<<<< HEAD
#submission {
=======
.submission {
>>>>>>> 2ec681365b64f77fcb2b3d974f5f3004319c0d98
    margin-bottom: 10px;
}